    .wrap-container {
        width: 100%;
        height: 100%;
        background-image: url(https://resize2-icotto.k-img.com/cF_aSUSeK_Pv9Mtw14UN-ntbw6iViONUTfNxgWd8yDE/rs:fill:700:467/plain/https://icotto.k-img.com/system/press_images/000/611/490/a6bf21f5dc63c12d47029ae643b77f744e3409b6.jpg);
        background-size: cover;
    }

    h1 {
        color: dodgerblue;
        padding: 3% 0 0 3%;
        margin-top: 0%;
        margin-bottom: 0%;
        font-family: serif;
        font-size: 40px;
    }

    h2 {
        color: floralwhite;
        margin-top: 0%;
        padding-left: 3%;
        font-size: 20px;
        font-family: "Hannari";
    }

    #mapid {
        height: 500px;
        width: 750px;
    }

    #mapid a {
        font-size: 15px;
    }

    #btnCurLocation {
        height: 50px;
        width: 150px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1%;
        padding-top: 3%
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%
    }

    @media all and (max-width: 480px) {

        #mapid {
            width: 80%;
        }
    }
